*.log
/tmp
/root
/dev
/env
activate


/static/js/adminuntils.js
/static/js/interattivo.js
/static/js/profilo.js
/static/js/storico.js
/static/js/theme.js

/templates/blank.html
/templates/redirect_to.html


.gitignore
backup_script.sh
docker-compose.yml
Dockerfile-fumi2
Dockerfile-postgres
Dockerfile-mongodb
restore_mongodb.sh
script_docker_compose_rm.sh
.dockerignore
tmpgen_runjob.sh


