*.log
/tmp
/root
/dev
/env
activate

/ccmmma-database

/static/img/avatars/
/static/img/regione.png
/static/js/adminuntils.js
/static/js/interattivo.js
/static/js/KML.js
/static/js/profilo.js
/static/js/storico.js
/static/js/theme.js
/static/KML
/static/storage

backup_script.sh
docker-compose.yml
Dockerfile-fumi2
Dockerfile-postgres
Dockerfile-mongodb
restore_mongodb.sh
script_docker_compose_rm.sh
.dockerignore
tmpgen_runjob.sh


