<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VentasPro-Login.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">

            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img style="width: 32px;height: 33px;" src="{{ url_for('static', filename='/img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png') }}">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>SMOKETRACER</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="dashboard"><i class="fas fa-terminal"></i><span style="color: var(--bs-accordion-bg);">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="simulazioni"><i class="fas fa-list"></i><span style="color: var(--bs-accordion-bg);">Simulazioni</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="storico"><i class="fas fa-table"></i><span style="color: var(--bs-accordion-bg);">Storico Simulazioni</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profilo"><i class="far fa-user-circle"></i><span style="color: var(--bs-accordion-bg);">Profilo Utente</span></a></li>
                    
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>

        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">

                    <div class="container-fluid">
                        <!-- <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button> -->

                        <div class="d-flex flex-column flex-md-row">
                            <small class="form-text fs-4 fw-semibold">&nbsp;Ultimo accesso : {{ last_access }}&nbsp;</small>
                        </div>

                        
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto"></ul>
                        
                        <div class="d-flex flex-column flex-md-row align-items-center ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <div class="mb-2 mb-md-0 me-md-2">
                                <h4 class="m-0 fw-bold">&nbsp;&nbsp;{{ user }}&nbsp;&nbsp;</h4>
                            </div>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <a href="{{ url_for('logout') }}" class="btn btn-primary">&nbsp;Log Out</a>
                        </div>

                    </div>

                </nav>
                <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                    <div class="container-fluid" style="margin-left: 5%; margin-right: 5%;">
                        <div class="container text-center"><small class="form-text fs-4 fw-semibold " style="width: auto;height: auto; ">Benvenuto al sistema Smoketracer!</small></div>
                        <div class="row" style="padding-bottom: 25px; padding-top: 25px;">
                            <div class="col">
                                <a href="simulazioni" style="text-decoration:none;">                            
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h4>Simulazioni</h4>
                                                </div>
                                                <div class="col text-end"><i class="fas fa-list-ol fa-2x text-gray-300"></i></div>
                                            </div>
                                            <p class="card-text" style="color: Gray;">In questa sezione potrai sottomettere una o più simulazioni e vederne lo stato ed i risultati.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 25px;">
                            <div class="col">
                                <a href="storico" style="text-decoration:none;">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h4>Storico Simulazioni</h4>
                                                </div>
                                                <div class="col text-end"><i class="fas fa-table fa-2x text-gray-300"></i></div>
                                            </div>
                                            <p class="card-text" style="color: Gray;">In questa sezione potrai vedere lo storico delle simulazioni ed i risultati associati.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="profilo" style="text-decoration:none;">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h4>Profilo Utente</h4>
                                                </div>
                                                <div class="col text-end"><i class="far fa-user-circle fa-2x text-gray-300"></i></div>
                                            </div>
                                            <p class="card-text" style="color: Gray;">In questa sezione potrai accedere al tuo profilo e modificare le tue info personali.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <span>I dati numerici e le rappresentazioni cartografiche generate sono frutto di elaborazioni di modelli matematici che operano in modo automatico senza intervento umano. I prodotti sono forniti così come sono. L'interpretazione deve essere svolta da personale esperto a proprio rischio e sotto la propria responsabilità. Le informazioni riportate non possono essere considerate sostitutive dei documenti ufficiali. L'orario indicato è in ora UTC. In nessun caso lo staff di meteo@uniparthenope, il CMMMA, il Dipartimento di Scienze e Tecnologie, l'Università degli Studi di Napoli "Parthenope" e tutte le persone coinvolte nelle relative attività di ricerca e produzione sono responsabili per danni a persone, animali o cose.</span>
                    <div class="text-center my-auto copyright"><span>Copyright © Uniparthenope 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>