<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login FUMI2</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> --> 

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VentasPro-Login.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/login.css') }}">

</head>


<body>
    <div class="container-fluid">
        <div class="row no-gutters">

            <!-- Left column -->
            <div class="col-12 col-md-6 left-half d-flex flex-column align-items-center justify-content-center" id="left_contents">
                <img src="{{url_for('static', filename='img/logo_smoketracer_2.png')}}" class="img-fluid" alt="Logo Regione Campania">
            </div>

            <!-- Right column -->
            <div class="col-12 col-md-6 right-half d-flex flex-column align-items-center justify-content-center justify-content-between justify-content-around" id="right_contents">

                
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/logo_IZSDM.png') }}" class="img-fluid logo-izsdm" alt="Logo IZSDM">
                      </div>
  
                      <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png') }}" class="img-fluid logo-regione" alt="Logo Regione Campania">
                      </div>

                      <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/logo_parthenope.png') }}" class="img-fluid logo-regione" alt="Logo Regione Campania">
                      </div>

                </div>


                <div class="row">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-between">
                            <h5 class="card-title"> <i class="bi bi-fire"></i> &nbsp;&nbsp;LOGIN SMOKETRACER &nbsp;&nbsp;<i class="bi bi-fire"></i></h5>
                            <p>
                                {% for mesg in get_flashed_messages() %}
                                <div class="alert alert-danger text-center"> {{ mesg }}</div>
                                {% endfor %}
                            </p>
                            <form class="text-center" method="post">
                                <div class="mb-3"><input class="form-control form-control" type="username" id="user_login" name="username" placeholder="Username"></div>
                                <div class="mb-3"><input class="form-control form-control" type="password" id="password_login" name="password" placeholder="Password"></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" id="loginbutton_login" type="submit">Login</button></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" name="resetpasswd_login" type="submit">Password Dimenticata</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex flex-column align-items-center">
                    <div class="col-12">
                    <div class="text-center">
                        <span>I dati numerici e le rappresentazioni cartografiche mostrati sono frutto di elaborazioni di modelli matematici che operano in modo automatico, senza intervento umano. I prodotti sono forniti così come sono. L'interpretazione deve essere svolta da personale esperto a proprio rischio e sotto la propria responsabilità. Le informazioni riportate non possono essere considerate sostitutive dei documenti e delle comunicazioni ufficiali.L'orario indicato è in ora UTC. In nessun caso il Dipartimento di Scienze e Tecnologie, l'Università degli Studi di Napoli "Parthenope" e tutte le persone coinvolte nelle relative attività di ricerca e produzione sono responsabili per danni a persone, animali o cose.</span>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="overlay" style="display: none;" id="overlay_contents">
        <div class="overlay-content">
            <div class="card-body d-flex flex-column align-items-center">
                <img src="{{url_for('static', filename='img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png')}}" style="width: 80px;min-width: 80px;height: 80px;margin-bottom: 10px;">      
                <form method="POST">
                    <button class="btn btn-primary d-block w-100" name="button_admin_panel" type="submit" style="margin-bottom: 10px;">Admin Panel</button>
                    <button class="btn btn-primary d-block w-100" name="button_user_panel" type="submit" style="margin-bottom: 10px;">User Panel</button>
                    <button class="btn btn-primary d-block w-100"  type="submit" style=" margin-bottom: 10px;" onclick="closeOverlay()">Chiudi</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>
