<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profilo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VentasPro-Login.css') }}">
    <style>
        .custom-checkbox {
            width: 2.5em;
            height: 2.5em;
            border: 2px solid #ccc;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s, border 0.3s;
        }
    </style>
    
</head>

<body id="page-top">
    <div id="wrapper">

        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img style="width: 32px;height: 33px;" src="static/img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>SMOKETRACER</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="dashboard"><i class="fas fa-terminal"></i><span style="color: var(--bs-accordion-bg);">Dashboard</span></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="simulazione-singola"><i class="fas fa-eye"></i><span style="color: var(--bs-accordion-bg);">Simulazione singola</span></a></li> -->
                    <li class="nav-item"><a class="nav-link" href="simulazioni"><i class="fas fa-list"></i><span style="color: var(--bs-accordion-bg);">Simulazioni</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="storico"><i class="fas fa-table"></i><span style="color: var(--bs-accordion-bg);">Storico Simulazioni</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profilo"><i class="far fa-user-circle"></i><span style="color: var(--bs-accordion-bg);">Profilo Utente</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>


        <div class="d-flex flex-column" id="content-wrapper" style="width: 100%;">
       

               

                
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 ml-3">
                <div class="d-flex justify-content-center">
                    <h4 class="m-0 fw-bold">&nbsp;Ultimo accesso : {{ last_access }}&nbsp;</h4>
                </div>
                
                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"></div>
                </form>
                
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="d-none d-sm-block topbar-divider"></div>

                    <div class="mb-2 mb-md-0 me-md-2">
                        <h4 class="m-0 fw-bold">&nbsp;&nbsp;{{ user }}&nbsp;&nbsp;</h4>
                    </div>

                    <div class="d-none d-sm-block topbar-divider"></div>

                    <a href="{{ url_for('logout') }}" class="btn btn-primary mr-3">&nbsp;Log Out</a>
                </div>
            </nav>


            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profilo</h3>
                <div class="row mb-3">
                    <!-- <div class="col-lg-8"> -->
                    <div class="col">
                        <div class="row">
                            <div class="col">

                                
                                <div class="card shadow mb-3">
                                    
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold"> Scheda Utente</p>
                                    </div>

                                    <div class="card-body">

                                        <from method="POST">

                                            <!--
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="mb-3">
                                                    <label class="form-label" for="username"><strong>Username</strong></label>
                                                    <small style="margin-left: 0px;width: 250.1641px;"><h4><b>{{ user }}</b></h4></small>
                                                </div>
                                            </div>
                                            -->

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="username"><strong>Username</strong></label>
                                                        <small style="margin-left: 0px;width: 250.1641px;"><h4><b>{{ user }}</b></h4></small>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="email"><strong>Email</strong></label>
                                                        <input class="form-control" type="text" id="email_profile" placeholder="{{ profile[3] }}" name="email">

                                                    </div>
                                                </div>
                                        
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="firstname"><strong>Nome</strong></label>
                                                        <input class="form-control" type="text" id="firstname_profile" placeholder="{{ profile[0] }}" name="firstname">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="mb3">
                                                        <label class="form-label" for="lastname"><strong>Cognome</strong></label>
                                                        <input class="form-control" type="text" id="lastname_profile" placeholder="{{ profile[1] }}" name="lastname">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="password"><strong>Password</strong></label>
                                                        <i class="far fa-eye" id="togglePassword" onclick="show()" style="margin-left: 10px; cursor: pointer;"></i>
                                                        <input class="form-control" type="password" id="password_profile" placeholder="Inserisci una nuova password" name="password">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="telephone"><strong>Telefono</strong></label>
                                                        <input id="password_profile-1" class="form-control" type="text" name="telephone" placeholder="{{ profile[2] }}" name="password" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" id="savebutton_profile" name="savebutton_profile" type="submit" style="width: 158.023px;height: 38px;font-weight: bold;background: var(--bs-teal);border-style: none;">Salva Impostazioni</button>
                                                <p>{% for mesg in get_flashed_messages() %}
                                                <div class="alert {{ category }} text-center">{{ mesg }}</div>
                                                {% endfor %}</p>
                                            </div>



                                        </from>

                                    </div>

                                </div>

                                <div class="card shadow mb-3">

                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Info Utente</p>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col-6">

                                                <div class="mb-3">

                                                    <div class="row">
                                                        <div class="col-6 align-items-start">
                                                            <label class="form-label" for=""><strong>Gruppi</strong></label>
                                                        </div>
                                                        <div class="col-3 align-items-start">
                                                            <label class="form-label" for=""><strong>Lettura</strong></label>
                                                        </div>
                                                        <div class="col-3 align-items-start">
                                                            <label class="form-label" for=""><strong>Scrittura</strong></label>
                                                        </div> 
                                                    </div>
                                                    
                                                    {% for group in user_groups %}
                                                    <div class="row">

                                                        <div class="col-6">
                                                            <small class="col-6 form-text"><h5><b>{{ group[0] }}</b></h5></small>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    {% if group[1] %}
                                                                        <div id="custom-checkbox" class="custom-checkbox" style="background-color: green;"></div>
                                                                    {% else %}
                                                                        <div id="custom-checkbox" class="custom-checkbox" style="background-color: red;"></div>
                                                                    {% endif %}
                                                                </div>

                                                                <div class="col-6">
                                                                    {% if group[2] %}
                                                                        <div id="custom-checkbox" class="custom-checkbox" style="background-color: green;"></div>
                                                                    {% else %}
                                                                        <div id="custom-checkbox" class="custom-checkbox" style="background-color: red;"></div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="mb-3">
                                                    <label class="form-label" for=""><strong>Struttura</strong></label>
                                                    <small class="form-text"><h5><b>{{ user_structure }}</b></h5></small>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="mb-3">
                                                    <label class="form-label" for=""><strong>Ruolo</strong></label>
                                                    {% if role_user == "" %}
                                                        <small class="form-text"><h5><b>Nessun ruolo associato</b></h5></small>
                                                    {% else %}
                                                        <small class="form-text"><h5><b> {{ role_user }} </b></h5></small>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                
                                <div class="card shadow mb-3">

                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Supporto Utente</p>
                                    </div>

                                    <form method="POST">

                                        <div class="card-body">

                                            <div class="row align-items-center m-3">
                                                <textarea name="text_mail_msg" placeholder="Inserisci messaggio ..." style="height: 150px;"></textarea>
                                            </div>

                                            <div class="row align-items-center m-3">
                                                <button class="btn btn-secondary" name="contact_support" type="submit"> Invia Messaggio </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <footer class="bg-white sticky-footer mt-auto">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Uniparthenope 2025</span></div>
                </div>
            </footer>

        </div>
        
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profilo.js') }}"></script>
    <script>
        /*
        let user_groups = '{{user_groups}}'
        console.log("user_groups : ", user_groups[0]);
        */
    </script>
</body>

</html>