<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Simulazioni Multiple</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/Login-Form-Basic-icons.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VentasPro-Login.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/ol@v9.2.4/dist/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.2.4/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.2.4/ol.css">
    <link rel="stylesheet" href="http://unpkg.com/leaflet@1.4.0/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf"></script>

    <style>
        .input-group {
            display: flex;
            align-items: flex-start;
            gap: 10px; 
        }

        .input-item {
            display: flex;
            flex-direction: column;
        }     

        #map {
            height: 400px;
            width: 100%;
            display: none; 
            margin-top: 10px;
        }

        .spinner {
            width: 60px;
            height: 60px;
            
            border: 8px solid #f3f3f3;       
            border-top: 8px solid #3498db;  
            border-radius: 50%;           


            animation: spin 1s linear infinite;
            display: none;                 
        }

        @keyframes spin {
            0%   { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
    </style>

</head>

<body id="page-top">
    <div id="wrapper">

        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">

                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <img style="width: 32px;height: 33px;" src="{{ url_for('static', filename='/img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png') }}">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3">
                        <span>SMOKETRACER</span>
                    </div>
                </a>

                <hr class="sidebar-divider my-0">

                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard"><i class="fas fa-terminal"></i><span style="color: var(--bs-accordion-bg);">Dashboard</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="simulazioni"><i class="fas fa-list"></i><span style="color: var(--bs-accordion-bg);">Simulazioni</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="storico"><i class="fas fa-table"></i><span style="color: var(--bs-accordion-bg);">Storico Simulazioni</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="profilo"><i class="far fa-user-circle"></i><span style="color: var(--bs-accordion-bg);">Profilo Utente</span></a>
                    </li>

                    <li class="nav-item"></li>
                </ul>

                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>


        <div class="d-flex flex-column" id="content-wrapper">
            <!-- <div id="content"> -->

            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4">
                <div class="d-flex justify-content-center ml-3">
                    <h4 class="m-0 fw-bold">&nbsp;Ultimo accesso : {{ last_access }}&nbsp;</h4>
                </div>
                
                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"></div>
                </form>
                
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="d-none d-sm-block topbar-divider"></div>

                    <div class="mb-2 mb-md-0 me-md-2">
                        <h4 class="m-0 fw-bold">&nbsp;&nbsp;{{ user }}&nbsp;&nbsp;</h4>
                    </div>

                    <div class="d-none d-sm-block topbar-divider"></div>

                    <a href="{{ url_for('logout') }}" class="btn btn-primary mr-3">&nbsp;Log Out</a>
                </div>
            </nav>

            <div clas="row d-flex flex-column justify-content-center justify-content-around justify-content-between mt-3" style="margin-left: 2%; margin-right: 2%; margin-bottom: 20%;">

                <div class="row" id="button-show" style="display: block;">
                    <div class="col" style="width: auto;margin-left: auto;margin-right: auto;text-align: center;">
                        <button class="btn btn-success btn-lg" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;" onclick='showInputForm()'>&nbsp;Nuova Simulazione&nbsp;<i class="fas fa-edit"></i>&nbsp;</button>
                    </div>
                </div> 

                <div class="card" id="row-input" style="display: none;">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-sm-flex justify-content-between align-items-center mb-4" style="border-style: none;">
                                <h3 class="text-dark mb-0">Inserisci dati Simulazione</h3>
                            </div>
                        </div>
                        <form method="POST">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col" style="margin-bottom: 20px;">
                                            <div class="card shadow border-start-primary py-2" style="margin-bottom: 10px;width: auto;height: auto;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>DESCRIZIONE</span></div><input type="text" name="area" id="area_dash" style="width: 162px;" required>
                                                            <div class="text-dark fw-bold h5 mb-0"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card shadow border-start-success py-2" style="margin-bottom: 20px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                                <span>COMUNE</span>
                                                            </div>
                                                            <input type="text" name="comune" id="comune_label" style="width: 160px;" list="comuni_list" required>
                                                            <datalist id="comuni_list">
                                                            </datalist>
                                                            <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>latitudine</span></div>
            
                                                            <div class="input-group flex-nowrap">
                                                        
                                                                <div class="input-item">
                                                                    <label for="lat_int">Gradi</label>
                                                                    <input type="number" step="any" name="lat_int" id="lat_int" min="-90" max="90" style="width: 80px;" required>
                                                                </div>
                                                            
                                                            
                                                                <div style="margin-top: 30px;"">
                                                                    <h2>.</h2>
                                                                </div>
                                                            
                                                                
                                                                <div class="input-item">
                                                                    <label for="lat_decimal">Decimali</label>
                                                                    <input type="number" step="any" name="lat_decimal" id="lat_decimal" min="0" style="width: 120px;" required>
                                                                </div>
                                                            
                                                            
                                                                <div class="input-item">

                                                                    <label for="c_directions_lat">Direzione</label>

                                                                    <div class="row flex-nowrap " style="margin-left: 10px;">
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lat" id="c_directions_lat_N" value="N">
                                                                            <label class="form-check-label" for="c_directions_lat_N">N</label>
                                                                        </div>
                                                                    
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lat" id="c_directions_lat_S" value="S">
                                                                            <label class="form-check-label" for="c_directions_lat_S">S</label>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    


                                                                    <!--
                                                                    <div class="row>
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lat" id="c_directions_lat_N" value="N">
                                                                            <label class="form-check-label" for="c_directions_lat_N">N</label>
                                                                        </div>
                                                                    
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lat" id="c_directions_lat_S" value="S">
                                                                            <label class="form-check-label" for="c_directions_lat_S">S</label>
                                                                        </div>
                                                                    </div>
                                                                    -->
                                                                    

                                                                    <!--
                                                                    <div class="row">

                                                                        <div class="col-6">
                                                                            <input type="radio" name="c_directions_lat_N" id="c_directions_lat_N" value="N">
                                                                            <label for="c_directions_lat_N">N</label>
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <input type="radio" name="c_directions_lat_S" id="c_directions_lat_S" value="S">
                                                                            <label for="c_directions_lat_S">S</label>
                                                                        </div>

                                                                    </div>
                                                                    -->

                                                                    

                                                                    
                
                                                                    <!--
                                                                    <input list="list_c_directions_lat" name="c_directions_lat" id="c_directions_lat" style="width: 80px;" required>
                                                                    <datalist id="list_c_directions_lat">
                                                                        <option>N</option>
                                                                        <option>S</option>
                                                                    </datalist>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Longitudine</span></div>
                                                            
                                                            
                                                            <div class="input-group">
                                                                
                                                                <div class="input-item">
                                                                    <label for="lon_int">Gradi</label>
                                                                    <input type="number" step="any" name="lon_int" id="lon_int" min="-180" max="180" style="width: 80px;" required>
                                                                </div>
                                                            
                                                                
                                                                <div style="margin-top: 30px;">
                                                                    <h2>.</h2>
                                                                </div>
                                                            
                                                                
                                                                <div class="input-item">
                                                                    <label for="lon_decimal">Decimali</label>
                                                                    <input type="number" step="any" name="lon_decimal" id="lon_decimal" min="0" style="width: 120px;" required>
                                                                </div>

                                                                <div class="input-item">

                                                                    <label for="c_directions_lat">Direzione</label>

                                                                    <div class="row" style="margin-left: 10px;">
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lon" id="c_directions_lon_E" value="N">
                                                                            <label class="form-check-label" for="c_directions_lon_E">E</label>
                                                                        </div>
                                                                    
                                                                        <div class="col-6 form-check">
                                                                            <input class="form-check-input" type="radio" name="c_directions_lon" id="c_directions_lon_O" value="S">
                                                                            <label class="form-check-label" for="c_directions_lon_O">O</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                               


                                                                <!--
                                                                <div class="input-item">
                                                                    <label for="c_directions_lon">Direzione</label>
                                                                    <input list="list_c_directions_lon" name="c_directions_lon" id="c_directions_lon" style="width: 80px;" required>
                                                                    <datalist id="list_c_directions_lon">
                                                                    <option>E</option>
                                                                    <option>O</option>
                                                                    </datalist>
                                                                </div>
                                                                -->
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2" style="width: 100%;">
                                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>MAPPA &nbsp;&nbsp;<i id="button_show_map" class="bi bi-globe fs-2"></i> </span></div>
                                                            <div id="map"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card shadow border-start-success py-2" style="margin-bottom: 10px;height: 100.8047px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>DATA INIZIO</span></div>
                                                    <div class="text-dark fw-bold h5 mb-0"><span><input id="date_dash" type="date" name="data" style="width: 168px;" min="1" required></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card shadow border-start-info py-2">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <!-- type="number" -->
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Temperatura (°C)</span></div><input list="list_std_tmp" name="temp" id="temp_dash" min="100 °C" style="width: 160px;" required>
                                                    <datalist id="list_std_tmp">
                                                        <option>800 °C</option>
                                                        <option>900 °C</option>
                                                        <option>1200 °C</option>
                                                    </datalist>
                                                    <div class="row g-0 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col">
                                    <div class="card shadow border-start-info py-2" style="margin-bottom: 10px;height: 100.805px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>ora inizio(UTC)</span></div>
                                                    <div class="text-dark fw-bold h5 mb-0">
                                                        <div class="d-flex align-items-center">
                                                            <select name="hours" class="Input me-2">
                                                                {% for hour in hours %}
                                                                    <option value="{{ hour }}">{{ hour }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <span style="font-size: 0.75rem; font-weight: normal;">:00:00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            
                                    <div class="card shadow border-start-info py-2">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Codice GISA</span></div><input type="text" name="codice_gisa" id="codice_gisa" style="width: 160px;" placeholder="2025_NN">
                                                    <div class="row g-0 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col">
                                    <div class="card shadow border-start-warning py-2" style="margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>DURATA (ore)</span></div><input type="number" name="durata" id="duration_dash" style="width: 160px;" required min="1">
                                                    <div class="text-dark fw-bold h5 mb-0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 25px;">
                                <div class="col" style="width: auto;margin-left: auto;margin-right: auto;text-align: center;">
                                    <button class="btn btn-danger btn-lg" type="submit" style="margin-left: 5px;font-weight: bold;width: auto;height: auto;margin-right: 8px;">&nbsp;Reset&nbsp;</button>
                                    <button class="btn btn-success btn-lg" type="submit" name="generate" id="start-button" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;" onclick="spinner_logic()">&nbsp;Inizia Simulazione&nbsp;<i class="fas fa-globe-americas"></i>&nbsp;</button>
                                    <button class="btn btn-secondary btn-lg" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;" onclick="showInputForm()">&nbsp;Nascondi&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <p>{% for mesg in get_flashed_messages() %}
                        <div class="alert alert-danger text-center"><b>{{ mesg }}</b></div>
                        {% endfor %}</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xl-12" style="color: var(--bs-card-bg);background: var(--bs-card-cap-bg);" id="options_simulation">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Coda Simulazioni</h6>
                            </div>
                            <div class="card-body" style="height: 100%; margin-bottom: 0px;">
                                <div class="table-responsive">
                                    <table class="table", id="info-table" onload="spinner_logic()">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Descrizione</th>
                                                <th>Data inizio</th>
                                                <th>Ora inizio</th>
                                                <th>Durata</th>
                                                <th>Lon</th>
                                                <th>Lat</th>
                                                <th>Temp</th>
                                                <th>Codice GISA</th>
                                                <th>Comune</th>
                                           
                                                
                                                <th>calmet</th>
                                                <th>calpost</th>
                                                <th>calpufff</th>
                                                <th>calwrff</th>
                                                <th>ctgproc</th>
                                                <th>dst</th>
                                                <th>lnd2</th>
                                                <th>makegeo</th>
                                                <th>terrel</th>
                                                <th>wrf2calwrf</th>
                                                <th>www</th>
                                                <th>Visualizza</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 offset-6">
                            <div id="spinner" class="spinner"></div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <footer class="bg-white sticky-footer mt-auto">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Uniparthenope 2025</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/KML.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        window.addEventListener("load", spinner_logic);        

        document.getElementById('comune_label').addEventListener('click', populateDatalist);

        document.getElementById('button_show_map').addEventListener('click', function() {
            if (!map) {
                initMap();
            } else {
                const mapDiv = document.getElementById('map');

                if(mapDiv.style.display === 'none') {
                    mapDiv.style.display = 'block';

                } else {
                    mapDiv.style.display = 'none';
                }

                map = " "
            }
        });
        

        setInterval(checkStatusJobsQueue, 10000);
        setInterval(checkIntLon, 2000);
        setInterval(checkDecimalLon, 2000);
        setInterval(checkIntLat, 2000);
        setInterval(checkDecimalLat, 2000);

        let comuni = [];
        let comuniList = document.getElementById('comuni_list');
        let map, marker;

        fetch('static/centroidi_comuni/centroidi_comuni.geojson')
        .then(response => response.json())
        .then(data => {
            for (let feature of data.features) {
                comuni.push(feature.properties.COMUNE);
            }
        })
        .catch(error => console.error('Errore durante il recupero del file:', error));
        

        // Funzione per popolare la datalist con i comuni
        function populateDatalist() {
            comuni.sort();
            comuniList.innerHTML = '';  // Pulisce eventuali opzioni esistenti
            comuni.forEach(comune => {
                const option = document.createElement('option');
                option.value = comune;
                comuniList.appendChild(option);
            });
        }
       
 
        function checkStatusJobsQueue() {
            
            let tot_jobs = parseInt("{{session['tot_jobs_queue']}}")
            let tbody = document.getElementById("info-table").getElementsByTagName("tbody")[0];

            
            if( (parseInt(tot_jobs) > 0) ){  
                if( parseInt(tot_jobs) > tbody.rows.length ) {
                    fetch('/getInfoJobsQueue')
                    .then(response => response.json())
                    .then(data =>{
                        for(let i=0; i<tot_jobs; i++) {
                            if(!tbody.rows[i]){
                                let new_row = tbody.insertRow();
                                for(let j=0; j<10; j++) {
                                    new_row.insertCell().textContent = data[i][j];
                                }
                            }
                        }
                    })
                    .catch(error => console.error('Errore durante il recupero del file:', error)); 

                }
                
                fetch('/getStatusJobsQueue')
                .then(response => response.json())
                .then(data => {
                    

                    console.log("response status queue : ", data)

                    for(let i=0; i<tot_jobs; i++) {

                        let selected_row = tbody.rows[i];
                        let workflow = ['calmet', 'calpost', 'calpufff', 'calwrff', 'ctgproc', 'dst', 'lnd2', 'makegeo', 'terrel', 'wrf2calwrf', 'www']

                        for(let j=10; j<21; j++) {
                            
                           
                            if(!selected_row.cells[j]){
                                selected_row.insertCell(j).textContent = data[i][0][workflow[j-10]]
                            } else {
                                selected_row.cells[j].textContent = data[i][0][workflow[j-10]];
                            }

                            if(selected_row.cells[j].textContent == "RUNNING") {
                                selected_row.cells[j].style.color = 'blue';

                            } else if(selected_row.cells[j].textContent == "WAITING") {
                                selected_row.cells[j].style.color = 'gray';

                            } else if(selected_row.cells[j].textContent == "FINISHED") {
                                selected_row.cells[j].style.color = 'green';
                            }
                        }

                        
                        if(!selected_row.cells[21]) {
                            selected_row.insertCell(21).innerHTML = "<button class='btn btn-secondary btn-small' style='margin-left: 8px; font-weight: bold;width: auto;height: auto;' onclick='link_to_storico()'>Vai</button>";
                        } else {
                            selected_row.cells(21).innerHTML = "<button class='btn btn-secondary btn-small' style='margin-left: 8px; font-weight: bold;width: auto;height: auto;' onclick='link_to_storico()'>Vai</button>";
                        }
                    }
                })
                .catch(error => console.error('Errore durante il recupero del file:', error));
            }      
        }

        function showInputForm() {
            let form_input = document.getElementById('row-input');
            let button_show = document.getElementById('button-show');

            if(form_input.style.display == 'none' && button_show.style.display == 'block') {
                form_input.style.display = 'block';
                button_show.style.display = 'none';
            } else if ( form_input.style.display == 'block' && button_show.style.display == 'none') {
                form_input.style.display = 'none';
                button_show.style.display = 'block';
            }
        }
        
        
        function link_to_storico() {
            window.location.href = "storico";

            /*
            let storico_page = window.location.href = "storico";
            let table_body = storico_page.getElementById("dataTable").getElementsByTagName("tbody")[0];
            table_body.rows[0].click();
            */
        }
        

        function checkIntLon() {
            const lonInputInt = document.getElementById('lon_int');
            let value = parseInt(lonInputInt.value);

            if (!isNaN(value)) {
                if (value < -180) {
                    lonInputInt.value = -180;
                    lonInputInt.textContent = -180;
                } else if (value > 180) {
                    lonInputInt.value = 180;
                    lonInputInt.textContent = 180;
                }
            }

        }

        function checkDecimalLon() {
            const lonInputDecimal = document.getElementById('lon_decimal');
            let value = parseInt(lonInputDecimal.value);

            if(!isNaN(value)) {
                if(value<0) {
                    lonInputDecimal.value = 0;
                    lonInputDecimal.textContent = 0;
                }
            }
        }

        function checkIntLat() {
            const latInputInt = document.getElementById('lat_int');

            let value = parseInt(latInputInt.value);
            if (!isNaN(value)) {
                if (value < -90) {
                    latInputInt.value = -90;
                    latInputInt.textContent = -90;
                } else if (value > 90) {
                    latInputInt.value = 90;
                    latInputInt.textContent = 90;
                }
            }

        }

        function checkDecimalLat() {
            const latInputDecimal = document.getElementById('lat_decimal');
            let value = parseInt(latInputDecimal.value);

            if(!isNaN(value)) {
                if(value<0) {
                    latInputDecimal.value = 0;
                    latInputDecimal.textContent = 0;
                }
            }
        }

        function initMap() {
            const mapDiv = document.getElementById('map');
            mapDiv.style.display = 'block';

            map = new ol.Map({
                target: 'map',
                layers: [

                    new ol.layer.Tile({
                        source: new ol.source.XYZ({
                            url: 'https://tile.openstreetmap.org/{z}/{x}/{y}.png'
                        }),
                    }),
                ],
                view: new ol.View({
                    center: [0,0],
                    zoom: 0,
                })
            });

            var fullScreenControl = new ol.control.FullScreen();
            map.addControl(fullScreenControl);

            //TODO : aggiunta di un marker sulla mappa al click.
            map.on('click', function(evt) {
                const latlng = evt.coordinate;
                let lonLat = ol.proj.toLonLat(latlng);

                //console.log("lonLat : ", lonLat);

                let lon = lonLat[0].toString().split(".");
                let lon_int = lon[0];
                let lon_decimal = lon[1];

                let lat = lonLat[1].toString().split(".");
                let lat_int = lat[0];
                let lat_decimal = lat[1];

                //console.log("lon_int : ", lon_int);
                //console.log("lon_decimale : ", lon_decimal);
                //console.log("lat_int : ", lat_int);
                //console.log("lat_decimal : ", lat_decimal);

                document.getElementById("lon_int").value = lon_int;
                document.getElementById("lon_decimal").value = lon_decimal.slice(0, 5);

                document.getElementById("lat_int").value = lat_int;
                document.getElementById("lat_decimal").value = lat_decimal.slice(0, 5);

                if(lat_int>0)
                    document.getElementById('c_directions_lat_N').checked = true;
                    // document.getElementById("c_directions_lat").value = "N";
                else
                    document.getElementById('c_directions_lat_S').checked = true;
                    //documen.getElementById("c_directions_lat").value = "S";

                if(lon_int>0)
                    document.getElementById('c_directions_lon_E').checked = true;
                    // document.getElementById("c_directions_lon").value = "E";
                else
                    docuemnt.getElementById('c_directions_lon_O').checked = true;
                    //document.getElementById("c_directions_lon").value = "O";
        
                let point = turf.point([parseFloat(lonLat[0]), parseFloat(lonLat[1])]);

                fetch('static/limits_comuni/limits_IT_municipalities.geojson')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Errore nel caricamento del file GeoJSON');
                    }
                    return response.json();
                })
                .then(geoJsonData2 => {
                    
                    for (var i = 0; i < geoJsonData2.features.length; i++) {
                        var feature = geoJsonData2.features[i];

                        var isInside = turf.booleanPointInPolygon(point, feature.geometry);

                        if (isInside) {
                            console.log("comune trovat  : ", feature.properties.name);
                            document.getElementById("comune_label").value = feature.properties.name; 
                            break;
                        
                        }
                    }
                })
                .catch()
            });
        }

       
        function checkComuneLabel() {
            
            let lat_int = (document.getElementById('lat_int').value).toString();
            let lon_int = (document.getElementById('lon_int').value).toString();

            if(lat_int !== "" && lon_int !== "") {

                console.log("entro nell'if");

                let lat_decimal = (document.getElementById('lat_decimal').value).toString();
                let lon_decimal = (document.getElementById('lon_decimal').value).toString();

                let lat = parseFloat(lat_int + "." + lat_decimal).toFixed(2);
                let lon = parseFloat(lon_int + "." + lon_decimal).toFixed(2);
                

                fetch('static/centroidi_comuni/centroidi_comuni.geojson')
                .then(response => {
                    if (!response.ok) {
                    throw new Error('Errore nel caricamento del file GeoJSON');
                    }
                    return response.json();
                })
                .then(geojsonData => {

                    for(const feature of geojsonData.features) {
                        const props = feature.properties

                        let latRounded = parseFloat(props.LAT).toFixed(2);
                        let lonRounded = parseFloat(props.LON).toFixed(2);

                        let point = turf.point([lon, lat]);



                        fetch('static/limits_comuni/limits_IT_municipalities.geojson')
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Errore nel caricamento del file GeoJSON');
                            }
                            return response.json();
                        })
                        .then(geoJsonData2 => {
                            
                            for (var i = 0; i < geoJsonData2.features.length; i++) {
                                var feature = geoJsonData2.features[i];

                                var isInside = turf.booleanPointInPolygon(point, feature.geometry);

                                if (isInside) {
                                    //console.log("comune trovto : ", feature.properties.name);
                                    document.getElementById("comune_label").value = feature.properties.name; 
                                    break;
                                  
                                }
                            }
                        })
                        .catch()
                    }
                })
            }
        }

        function spinner_logic() {

            let tbody = document.getElementById("info-table").getElementsByTagName("tbody")[0];
            let tot_jobs = parseInt("{{session['tot_jobs_queue']}}");

            //console.log("load -- tot_jobs : ", tot_jobs);
            //console.log("load -- tbody.rows : ", tbody.rows.length);

            if(tot_jobs !== tbody.rows.length) {
                showSpinner();
                setTimeout(function() {
                    hideSpinner();
                }, 10000);
            }
        }


        function showSpinner() {
            document.getElementById("spinner").style.display = "block";
        }

        // Nasconde lo spinner
        function hideSpinner() {
            document.getElementById("spinner").style.display = "none";
        }


        function findComune(point, geoJsonData) {
            for (var i = 0; i < geoJsonData.features.length; i++) {
                var feature = geoJsonData.features[i];

                var isInside = turf.booleanPointInPolygon(point, feature.geometry);

                if (isInside) {
                    return feature.properties.name; 
                }
            }
            return null;
        }
    </script>
</body>

</html>